<!DOCTYPE HTML>
<html>
  <head>
    <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>824 Plays Games</h1>
    <ul class='team'>
      <li><a href='mailto:qdnguyen@mit.edu'>Quan Nguyen</a></li>
      <li><a href='mailto:bwubbles@mit.edu'>Bradley Wu</a></li>
      <li><a href='mailto:sherwu@mit.edu'>Sherwin Wu</a></li>
      <li><a href='mailto:styu@mit.edu'>Stephanie Yu</a></li>
    </ul>
    <div class='description'>
      A distributed game API using Paxos and a bit of democracy. Add more text here. Slow-carb church-key photo booth selfies before they sold out. Godard art party Cosby sweater, Brooklyn YOLO actually pickled asymmetrical tote bag hoodie Intelligentsia before they sold out authentic drinking vinegar. IPhone actually blog drinking vinegar, put a bird on it fashion axe Truffaut Brooklyn 8-bit four loko hoodie pop-up gastropub authentic viral. Vice cornhole pickled, freegan YOLO keytar McSweeney's tote bag. Hoodie keffiyeh mixtape bespoke, ethical yr tousled hella PBR Truffaut typewriter sartorial flannel cardigan Marfa. Fap umami try-hard hella Blue Bottle. Pitchfork 90's Blue Bottle bicycle rights, Helvetica gastropub quinoa.
    </div>
    <div class='game-container'>
      <a href='/2048' class='game game2048'>2048</a>
      <a href='/chess' class='game chess'><img src='/img/knight.png' /></a>
    </div>
  </body>
</html>